dl.ds-check-list dt {
  font-weight: bold;
}

.check {
  font-size: 18px;
  color: #336600;
}

.cross {
  font-size: 18px;
  color: #660F0E;
}

dl.ds-check-list dt.checked span.check {
  display: inline;
}

dl.ds-check-list dt.checked span.cross {
  display: none;
}

dl.ds-check-list dt.crossed span.check {
  display: none;
}

dl.ds-check-list dt.crossed span.cross {
  display: inline;
}
